@font-face {
    font-family: "keenicons-duotone";
    src: url("fonts/keenicons-duotone.eot?eut7fk");
    src: url("fonts/keenicons-duotone.eot?eut7fk#iefix") format("embedded-opentype"), url("fonts/keenicons-duotone.ttf?eut7fk") format("truetype"), url("fonts/keenicons-duotone.woff?eut7fk") format("woff"), url("fonts/keenicons-duotone.svg?eut7fk#keenicons-duotone") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    font-size: 15px;
    height: 100%;
    font-weight: 400;
    font-family: Inter, Helvetica, "sans-serif";
    background-color: #f9fafb;
}

a {
    text-decoration: none;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

img,
svg {
    vertical-align: middle;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

table {
    width: 100%;
}

select {
    word-wrap: normal;
}

.pdv-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 20px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.775rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #5e6278;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #e1e3ea;
    appearance: none;
    border-radius: 0.95rem;
    box-shadow: false;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color);
    --bs-card-border-radius: 0.95rem;
    --bs-card-box-shadow: 0px 0px 20px rgba(94, 98, 120, 0.04);
    --bs-card-inner-border-radius: calc(0.95rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: transparent;
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    box-shadow: var(--bs-card-box-shadow);
    border: 0;
    background-color: white !important;
}

.card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 0 2.25rem;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-bottom: 1px solid var(--bs-card-border-color);
}

.card.card-flush>.card-header {
    border-bottom: 0 !important;
}

.card .card-header .card-title {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    margin-left: 0;
}

.card .card-header .card-toolbar {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    flex-wrap: wrap;
}

.card .card-body {
    padding: 2rem 2.25rem;
    color: var(--bs-card-color);
}

.bg-body {
    background-color: white !important;
}

.pt-5 {
    padding-top: 1.25rem !important;
}

.py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.fs-4 {
    font-size: 1.25rem !important;
}

.fw-bold {
    font-weight: 600 !important;
}

.rounded-3 {
    border-radius: 1.5rem !important;
}

.me-3 {
    margin-right: 0.75rem !important;
}

.h-50px {
    height: 50px !important;
}

.w-50px {
    width: 50px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.text-gray-800 {
    color: var(--bs-text-gray-800) !important;
}

.text-hover-primary {
    transition: color 0.2s ease;
}

.fw-bold {
    font-weight: 600 !important;
}

.fs-6 {
    font-size: 1.075rem !important;
}

.me-1 {
    margin-right: 0.25rem !important;
}

.min-w-175px {
    min-width: 175px !important;
}

.w-125px {
    width: 125px !important;
}

.w-60px {
    width: 60px !important;
}

.text-gray-800 {
    color: #3f4254 !important;
}

.text-center {
    text-align: center !important;
}

.fs-2 {
    font-size: calc(1.275rem + 0.3vw) !important;
}

.fw-bold {
    font-weight: 600 !important;
}

.text-primary {
    --bs-text-opacity: 1;
    color: rgba((0, 158, 247), var(--bs-text-opacity)) !important;
}

.text-primary {
    color: #009ef7 !important;
}

.my-0 {
    /* margin-top: 0 !important; */
    margin-bottom: 0 !important;
}

.align-middle {
    vertical-align: middle !important;
}

.fs-3 {
    font-size: calc(1.26rem + 0.12vw) !important;
}

.ms-4 {
    margin-left: 1rem !important;
}

.ps-12 {
    padding-left: 3rem !important;
}

.border-0 {
    border: 0 !important;
}

.border-0 {
    --bs-border-width: 0;
}

.w-30px {
    width: 30px !important;
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.text-gray-800 {
    color: #3f4254 !important;
}

.fs-2qx {
    font-size: calc(1.0rem + 1.2vw) !important;
}

.p-10 {
    padding: 1.5rem !important;
    padding-top: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.me-5 {
    margin-right: 1.25rem !important;
}

.p-7 {
    padding: 1.75rem !important;
}

.fs-1 {
    font-size: calc(1.3rem + 0.6vw) !important;
}

.mb-10 {
    margin-bottom: 2.5rem !important;
}

.mb-5 {
    margin-bottom: 1.25rem !important;
}

@media (min-width: 1200px) {
    .fs-1 {
        font-size: 1.75rem !important;
    }
}

.btn {
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: 0.775rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1.1rem;
    --bs-btn-font-weight: 500;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #181C32;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.95rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    box-shadow: var(--bs-btn-box-shadow);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
    --bs-btn-color: #181C32;
    outline: none !important;
}

.btn.btn-light-primary {
    color: #009ef7;
    border-color: #f1faff;
    background-color: #f1faff;
}

.btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg):not(.shadow-xs) {
    box-shadow: none;
}

.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
    border: 0;
    padding: calc(0.775rem + 1px) calc(1.5rem + 1px);
}

.btn.btn-primary {
    color: #ffffff;
    border-color: #009ef7;
    background-color: #009ef7;
}

.table>tbody {
    vertical-align: inherit;
}

.table:not(.table-bordered)> :not(:first-child) {
    border-color: transparent;
    border-width: 0;
    border-style: none;
}

.table.gy-4 th,
.table.gy-4 td {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.d-flex {
    display: flex !important;
}

.align-items-center {
    align-items: center !important;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
    cursor: pointer;
}

.btn.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: calc(1.5em + 1.55rem + 2px);
    width: calc(1.5em + 1.55rem + 2px);
}

.btn.btn-light {
    color: #7e8299;
    border-color: #f9f9f9;
    background-color: #f9f9f9;
}

.btn.btn-icon.btn-sm,
.btn-group-sm>.btn.btn-icon {
    height: calc(1.5em + 1.1rem + 2px);
    width: calc(1.5em + 1.1rem + 2px);
}

.btn.btn-icon:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush) {
    border: 0;
}

.ki-duotone {
    font-family: "keenicons-duotone" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-flex;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ki-duotone,
.ki-outline,
.ki-solid {
    line-height: 1;
    font-size: 1rem;
    color: #a1a5b7;
}

.ki-magnifier .path1:before {
    content: "\ed02";
    opacity: 0.3;
}

.ki-magnifier .path2:before {
    content: "\ed03";
    margin-left: -1em;
}

.ki-minus:before {
    content: "\ed42";
}

.ki-plus:before {
    content: "\edd3";
}

.ki-subtitle .path1:before {
    content: "\eeaa";
    opacity: 0.3;
}

.ki-subtitle .path2:before {
    content: "\eeab";
    margin-left: -1em;
}

.ki-subtitle .path3:before {
    content: "\eeac";
    margin-left: -1em;
}

.ki-subtitle .path4:before {
    content: "\eead";
    margin-left: -1em;
}

.ki-subtitle .path5:before {
    content: "\eeae";
    margin-left: -1em;
}

.ki-barcode .path1:before {
    content: "\e9d0";
}

.ki-barcode .path2:before {
    content: "\e9d1";
    margin-left: -1em;
}

.ki-barcode .path3:before {
    content: "\e9d2";
    margin-left: -1em;
}

.ki-barcode .path4:before {
    content: "\e9d3";
    margin-left: -1em;
}

.ki-barcode .path5:before {
    content: "\e9d4";
    margin-left: -1em;
}

.ki-barcode .path6:before {
    content: "\e9d5";
    margin-left: -1em;
}

.ki-barcode .path7:before {
    content: "\e9d6";
    margin-left: -1em;
}

.ki-barcode .path8:before {
    content: "\e9d7";
    margin-left: -1em;
    opacity: 0.3;
}

.ki-lots-shopping .path1:before {
    content: "\ecf6";
    opacity: 0.3;
}

.ki-lots-shopping .path2:before {
    content: "\ecf7";
    margin-left: -1em;
}

.ki-lots-shopping .path3:before {
    content: "\ecf8";
    margin-left: -1em;
    opacity: 0.3;
}

.ki-lots-shopping .path4:before {
    content: "\ecf9";
    margin-left: -1em;
}

.ki-lots-shopping .path5:before {
    content: "\ecfa";
    margin-left: -1em;
    opacity: 0.3;
}

.ki-lots-shopping .path6:before {
    content: "\ecfb";
    margin-left: -1em;
}

.ki-lots-shopping .path7:before {
    content: "\ecfc";
    margin-left: -1em;
    opacity: 0.3;
}

.ki-lots-shopping .path8:before {
    content: "\ecfd";
    margin-left: -1em;
}

.ki-tag .path1:before {
    content: "\eeda";
    opacity: 0.3;
}

.ki-tag .path2:before {
    content: "\eedb";
    margin-left: -1em;
}

.ki-tag .path3:before {
    content: "\eedc";
    margin-left: -1em;
}

.ki-bill .path1:before {
    content: "\e9e2";
    opacity: 0.3;
}

.ki-bill .path2:before {
    content: "\e9e3";
    margin-left: -1em;
}

.ki-bill .path3:before {
    content: "\e9e4";
    margin-left: -1em;
}

.ki-bill .path4:before {
    content: "\e9e5";
    margin-left: -1em;
}

.ki-bill .path5:before {
    content: "\e9e6";
    margin-left: -1em;
}

.ki-bill .path6:before {
    content: "\e9e7";
    margin-left: -1em;
}

.fs-3x {
    font-size: calc(1.425rem + 2.1vw) !important;
}

.btn>i {
    display: inline-flex;
    font-size: 1rem;
    padding-right: 0.35rem;
    vertical-align: middle;
}

.btn.btn-icon i,
.btn.btn-icon .svg-icon {
    padding: 0;
    margin: 0;
    line-height: 1;
}

.btn.btn-light i,
.btn.btn-light .svg-icon {
    color: #7e8299;
}

.btn.btn-icon-gray-400 i,
.btn.btn-icon-gray-400 .svg-icon {
    color: #b5b5c3;
}

.p-6 {
    padding: 1.5rem !important;
}

.rounded-3 {
    border-radius: 1.5rem !important;
}

.bg-success {
    background-color: #50cd89 !important;
}

.flex-stack {
    justify-content: space-between;
    align-items: center;
}

.text-white {
    color: white !important;
}

.position-absolute {
    position: absolute !important;
}

.card-rounded {
    border-radius: 0.95rem;
}

.bg-primary {
    background-color: #009ef7 !important;
}


.bg-opacity-5 {
    background-color: rgba(0, 158, 247, 0.05) !important;
}

.menu {
    width: 100%;
}

.menu .pdv-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    color: #4CAF50;
}

.container {
    flex: 1;
    display: flex;
    height: 83%;
}

.container-1 {
    flex: 7;
    overflow: auto;
    margin-right: 15px;
}

.table-wrapper {
    position: relative;
    /* Adiciona posicionamento relativo */
}

.table-wrapper table {
    width: 100%;
}

.table-wrapper thead {
    position: sticky;
    top: 0;
}

.table-wrapper tbody {
    overflow: auto;
}

.table-wrapper tfoot {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

/*.container-1 .pdv-products-table {
    width: 100%;
    padding: 10px;
}

.container-1 .pdv-products-table th {
    text-align: left;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
}

.container-1 td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.container-1 .pdv-products-table th,
.container-1 .pdv-products-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}*/

.container-2 {
    flex: 3;
    background-color: #eee;
    padding-top: 20px;
}

.form-control.form-control-solid {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
    color: #5e6278;
    transition: color 0.2s ease;
}

dropdown.show>.form-control.form-control-solid,
.form-control.form-control-solid:active,
.form-control.form-control-solid.active,
.form-control.form-control-solid:focus,
.form-control.form-control-solid.focus {
    background-color: #f4f4f4;
    border-color: #f4f4f4;
    color: #5e6278;
    transition: color 0.2s ease;
}


.container-2 .pdv-label {
    color: #4CAF50;
}

.container-2 .pdv-input {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #4CAF50;
    outline: none;
    width: 90%;
    margin: 10px 0px 10px 0px;
}

.container-2 .pdv-input2 {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #4CAF50;
    outline: none;
    width: 15%;
    margin: 10px 3px 10px 0px;
}

.container-2 .pdv-add-to-cart-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container-2 .pdv-add-to-cart-button:hover {
    background-color: #2E8B57;
}

.container-2 .pdv-cart-container {
    margin-top: 30px;
}

.container-2 .pdv-finish-sale-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container-2 .pdv-finish-sale-button:hover {
    background-color: #2E8B57;
}

.menu.card.card-flush.bg-body {
    margin-bottom: 15px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.fv-plugins-icon-container {
    position: relative;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.form-select {
    --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%237E8299' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    display: block;
    width: 100%;
    padding: 0.775rem 3rem 0.775rem 1rem;
    -moz-padding-start: calc(1rem - 3px);
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--bs-gray-700);
    background-color: #ffffff;
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 16px 12px;
    border: 1px solid #E1E3EA;
    border-radius: 0.95rem;
    box-shadow: false;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
}

@media (prefers-reduced-motion: reduce) {
    .form-select {
        transition: none;
    }
}

.form-select {
    appearance: none;
}

.form-select.form-select-solid {
    background-color: #F9F9F9;
    border-color: #F9F9F9;
    color: #5E6278;
    transition: color 0.2s ease;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--bootstrap5 .select2-selection {
    box-shadow: none !important;
    height: auto;
    outline: none !important;
}

.select2-container--bootstrap5 .select2-selection--single {
    display: flex;
    align-items: center;
}

.select2-container--bootstrap5.select2-container--focus:not(.select2-container--disabled) .form-select-solid,
.select2-container--bootstrap5.select2-container--open:not(.select2-container--disabled) .form-select-solid {
    background-color: #F4F4F4;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container--bootstrap5 .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #5E6278;
}

.select2-container--bootstrap5 .select2-selection--single.form-select-solid .select2-selection__rendered {
    color: #5E6278;
}

.select2-container--bootstrap5 .select2-selection--single.form-select-solid .select2-selection__placeholder {
    color: #A1A5B7;
}

.col {
    flex: 1 0 0%;
}

.row-cols-1>* {
    flex: 0 0 auto;
    width: 100%;
}

@media (min-width: 768px) {
    .row-cols-md-2>* {
        flex: 0 0 auto;
        width: 50%;
    }
}

.btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.h-100 {
    height: 100% !important;
}

.btn.btn-outline-dashed {
    border: 1px dashed var(--bs-gray-300);
}

.btn.btn-outline.btn-outline-dashed {
    border-width: 1px;
    border-style: dashed;
}

.btn-check:checked+.btn.btn-active-light-primary,
.btn-check:active+.btn.btn-active-light-primary,
.btn.btn-active-light-primary:focus:not(.btn-active),
.btn.btn-active-light-primary:hover:not(.btn-active),
.btn.btn-active-light-primary:active:not(.btn-active),
.btn.btn-active-light-primary.active,
.btn.btn-active-light-primary.show,
.show>.btn.btn-active-light-primary {
    color: #009ef7;
    border-color: #f1faff;
    background-color: #f1faff !important;
}

.btn-check:checked+.btn.btn-outline.btn-outline-dashed,
.btn-check:active+.btn.btn-outline.btn-outline-dashed,
.btn.btn-outline.btn-outline-dashed:focus:not(.btn-active),
.btn.btn-outline.btn-outline-dashed:hover:not(.btn-active),
.btn.btn-outline.btn-outline-dashed:active:not(.btn-active),
.btn.btn-outline.btn-outline-dashed.active,
.btn.btn-outline.btn-outline-dashed.show,
.show>.btn.btn-outline.btn-outline-dashed {
    border-color: #009ef7;
}

.btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg):not(.shadow-xs) {
    box-shadow: none;
}

.fs-3hx {
    font-size: calc(1.475rem + 2.7vw) !important;
}

.text-start {
    text-align: left !important;
}

.fw-semibold {
    font-weight: 500 !important;
}

.text-dark {
    color: #181C32 !important;
}

.ki-paypal .path1:before {
    content: "\edba";
}

.ki-paypal .path2:before {
    content: "\edbb";
    margin-left: -1em;
    opacity: 0.3;
}

.ki-credit-cart .path1:before {
    content: "\eb0a";
    opacity: 0.3;
}

.ki-credit-cart .path2:before {
    content: "\eb0b";
    margin-left: -1em;
}

.ki-two-credit-cart .path1:before {
    content: "\ef5f";
}

.ki-two-credit-cart .path2:before {
    content: "\ef60";
    margin-left: -1em;
    opacity: 0.3;
}

.ki-two-credit-cart .path3:before {
    content: "\ef61";
    margin-left: -1em;
}

.ki-two-credit-cart .path4:before {
    content: "\ef62";
    margin-left: -1em;
}

.ki-two-credit-cart .path5:before {
    content: "\ef63";
    margin-left: -1em;
}

.d-block {
    display: block !important;
}

.mb-2 {
    margin-bottom: 0.5rem rem !important;
}

.lh-1 {
    line-height: 1 !important;
}

.mb-9 {
    margin-bottom: 2.25rem !important;
}

@media (min-width: 1200px) {
    .fs-2qx {
        font-size: 2.25rem !important;
    }
}

.text-end {
    text-align: right !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.form-label {
    margin-bottom: 0.5rem;
    font-size: 1.05rem;
    font-weight: 500;
    color: #3F4254;
}

.justify-content-center {
    justify-content: center !important;
}

.align-items-start {
    align-items: flex-start !important;
}

.mb-7 {
    margin-bottom: 1.75rem !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.ms-2 {
    margin-left: 0.5rem !important;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}



input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #F9F9F9;
    border-radius: 50px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 5px #000000;
    border: 0px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #F9F9F9;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #F9F9F9;
    border-radius: 50px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 5px #000000;
    border: 0px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #F9F9F9;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #F9F9F9;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 5px #000000;
    border: 0px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #F9F9F9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #F9F9F9;
}
